*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navbar{
    border: solid black 10px 50px 50px;
    color: white;
}

#bgColor{
    color: black;
    background-color: lightblue;
    
}

.currentDay{
background-color:bisque;
}

#citySearch{
background-color: lightblue;
}




.forecast{
    border: solid black 2px;
    border-radius: 10px;
    background-color: lightgray;
    box-shadow: 1px 1px 5px
}