*{
    color: black;
    
}

#infoDisplay{
background-color:bisque;
}

#citySearch{
background-color: blueviolet;
}

/* #fiveDayForecast{
background-color: brown;

} */

#cityList{
    list-style: none;
}

.forecast{
    border: solid black 2px;
    border-radius: 20px;
    background-color: lightgray;
    box-shadow: 1px 1px 5px
}